.dateInputButton {
  background-color: #2d3748;
  color: #b4bbc6;
  border: none;
  width: 270px;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

.popperCustomerClass {
  z-index: 1000;
}
